.movie {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    // .movie__container

    &__container {
        padding: 0;
        min-height: 100vh;
    }

    // .movie__body

    &__body {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1 1 auto;
        gap: 35px;
        padding: 3%;
    }

    // .movie__title

    &__title {
        letter-spacing: 10px;
        font-weight: 700;
        @include fl(50, 30);
        // color: #282d44;
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;

        @media (max-width: 767px) {
            letter-spacing: 5px;
            @include fl(37, 25);
            padding: 0 10%;
        }
    }

    // .movie__text

    &__text {
        text-align: center;
        letter-spacing: 5px;
        @include fl(25, 30);
        // color: #282d44;
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;

        @media (max-width: 767px) {
            letter-spacing: 3px;
            @include fl(20, 27);
        }
    }

    // .movie__play

    &__play {
        position: fixed;
        object-fit: cover;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    &__slide {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: 767px) {
            align-items: flex-start;
            padding-top: 10%;
        }
    }

    // .swip__slide {
    //     min-height: 100vh;
    // }

    // .swiper-button-next,
    // .swiper-button-prev {
    //     color: #fff;

    //     @media (max-width: 767px) {
    //         display: none;
    //     }
    // }

    // .swiper-pagination {
    //     --swiper-theme-color: #fff;
    // }
}

// .hero {
//     background-color: #fff;
//     z-index: 1;
//     position: relative;
//     // .hero__container

//     &__container {
//         padding-top: 5%;
//     }

//     // .hero__picture

//     &__picture {
//         position: relative;
//         padding-bottom: 50%;
//         width: 100%;

//         img {
//             position: absolute;
//             object-fit: cover;
//             width: 100%;
//             height: 100%;
//             top: 0;
//             left: 0;
//         }
//     }
// }


// .video {
//     z-index: 1;
//     position: relative;
//     background-color: #fff;
//     // .video__container

//     &__container {
//         display: grid;
//         grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
//         gap: 20px;
//         padding-top: 5%;
//         padding-bottom: 5%;

//         @media (max-width: 768px) {
//             grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
//         }
//     }

//     // .video__body

//     &__body {
//         position: relative;
//         padding-bottom: 56%;
//     }

//     // .video__block

//     &__block {
//         iframe {
//             object-fit: cover;
//             position: absolute;
//             width: 100%;
//             height: 100%;
//             top: 0;
//             left: 0;
//         }
//     }

//     // .video__movie

//     &__movie {
//         object-fit: cover;
//         position: absolute;
//         width: 100%;
//         height: 100%;
//         top: 0;
//         left: 0;
//     }

//     // .video__text

//     &__text {
//         @include fl(25, 25);
//         font-family: Arial, Helvetica, sans-serif;
//     }
// }



.swip {
    // Задаем высоту главному контейнеру
    height: 100vh;

    // .swip__container

    &__container {
        padding: 0;
    }

    &__slide {
        // Во избежания непонятных багов 
        position: relative;
        // Центрируем флексом
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            // Во избежания непонятных багов 
            position: absolute;
            // Растягиваемя абсолютную картинку
            object-fit: cover;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }

    // .swiper-button-next,
    // .swiper-button-prev {
    //     color: #fff;

    //     @media (max-width: 767px) {
    //         display: none;
    //     }
    // }

    // .swiper-pagination {
    //     color: #fff;
    //     --swiper-theme-color: #fff;
    // }
}