@charset "UTF-8";

/*Шрифты*/

html {
  scroll-behavior: smooth;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  min-height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  color: inherit;
}

input::-moz-placeholder {
  color: inherit;
  font-size: 1em;
}

input::placeholder {
  color: inherit;
  font-size: 1em;
}

input:focus {
  outline: none;
}

button {
  color: inherit;
  border: none;
  background-color: transparent;
  padding: 0;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.woff-2") format("woff-2");
  font-weight: 600;
  font-style: normal;
}

body.lock {
  overflow: hidden;
}

body {
  font-family: "CustomFont";
  font-size: 1em;
  font-weight: 400;
}

[class*=__container] {
  padding-left: 5.3333333333%;
  padding-right: 5.3333333333%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

main {
  flex: 1 1 auto;
}

img {
  max-width: 100%;
  height: auto;
}

@keyframes slide-in {
  0% {
    transform: translateX(-30%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate {
  animation: slide-in 2s forwards;
}

.header {
  position: relative;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 1;
}

.header__body {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  z-index: 2;
  font-size: 35px;
  transition: all 0.3s ease;
}

.header__logo:hover {
  transform: scale(1.2);
}

.header-action {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
}

.header-action li {
  cursor: pointer;
  transition: all 0.3s ease;
}

.header-action li:hover {
  transform: scale(1.2);
}

.header-action li:not(:last-child) {
  margin-right: 15px;
}

.burger {
  position: relative;
  z-index: 2;
  min-height: 40px;
  width: 40px;
  margin-left: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  cursor: pointer;
  /* 
    &:hover .burger__wrapper {
       span,
       &:before,
       &:after {
          background-color: orange; 
       }
    }
  */
}

.burger:hover {
  transform: scale(1.2);
}

.burger__wrapper {
  width: 30px;
  height: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.burger__wrapper span,
.burger__wrapper:before,
.burger__wrapper:after {
  width: 100%;
  height: 2px;
  background-color: #000;
  transition: all 0.3s ease;
  transform: translate(0, 0);
  position: relative;
  left: 0;
}

.burger__wrapper:before {
  content: "";
  animation: burgerTopDisabled 0.7s ease 0s 1;
  animation-fill-mode: forwards;
}

.burger__wrapper:after {
  content: "";
  animation: burgerBottomDisabled 0.7s ease 0s 1;
  animation-fill-mode: forwards;
}

.burger__wrapper span {
  top: 50%;
  transform: translate(0, -150%);
  transition: background-color 0.3s ease, transform 0.3s ease 0s;
}

@keyframes burgerTopDisabled {
  0% {
    top: 50%;
    transform: translate(0, -50%) rotate(-45deg);
  }

  50% {
    top: 50%;
    transform: translate(0, -50%);
  }

  100% {
    top: 0;
    transform: translate(0, 0);
  }
}

@keyframes burgerBottomDisabled {
  0% {
    top: 50%;
    transform: translate(0, -250%) rotate(45deg);
  }

  50% {
    top: 50%;
    transform: translate(0, -250%);
  }

  100% {
    top: 100%;
    transform: translate(0, -300%);
  }
}

.burger.active .burger__wrapper:before {
  animation: burgerTopActive 0.7s ease 0s 1;
  animation-fill-mode: forwards;
}

.burger.active .burger__wrapper span {
  transform: translate(0, -150%) scale(0);
  transition: background-color 0.3s ease, transform 0.3s ease 0.3s;
}

.burger.active .burger__wrapper:after {
  animation: burgerBottomActive 0.7s ease 0s 1;
  animation-fill-mode: forwards;
}

@keyframes burgerTopActive {
  0% {
    top: 0;
    transform: translate(0, 0);
  }

  50% {
    top: 50%;
    transform: translate(0, -50%);
  }

  100% {
    top: 50%;
    transform: translate(0, -50%) rotate(-45deg);
  }
}

@keyframes burgerBottomActive {
  0% {
    top: 100%;
    transform: translate(0, -300%);
  }

  50% {
    top: 50%;
    transform: translate(0, -250%);
  }

  100% {
    top: 50%;
    transform: translate(0, -250%) rotate(45deg);
  }
}

.pop-up {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

.pop-up.active {
  z-index: 100;
  opacity: 1;
  pointer-events: all;
}

.pop-up__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 200px;
}

.pop-up__body {
  overflow: auto;
  max-height: 100%;
  background-color: rgba(233, 233, 233, 0.33);
  padding: 50px;
}

.pop-up__body p {
  font-size: 1.5em;
  line-height: 1.3333333333;
  color: #fff;
}

.spoiler {
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(0, 0, 0);
  color: #fff;
}

.spoiler__preview {
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spoiler__icon {
  transition: all 0.3s ease;
}

.spoiler__wrapper {
  height: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}

.spoiler__body {
  padding-top: 30px;
  padding-bottom: 30px;
}

.spoiler.opened .spoiler__icon {
  transform: rotate(180deg);
}

.dropdown {
  position: relative;
  margin-bottom: 25px;
}

.dropdown__select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 15px;
  background-color: rgba(31, 51, 71, 0.9);
  border-radius: 5px;
  text-align: center;
  transition: background 0.3s;
}

.dropdown__select:hover {
  background: #323741;
}

.dropdown__selected {
  font-size: 1.25em;
  line-height: 1.2;
  color: #fff;
}

.dropdown__caret {
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 8px solid #fff;
  transition: 0.3s;
}

.dropdown__menu {
  display: none;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.2s;
  display: 0;
  opacity: 0;
  z-index: 1;
  width: 100%;
  border: 1px solid #D3D3D3;
}

.dropdown__item {
  padding: 15px;
  font-size: 1.125em;
  line-height: 1.3333333333;
  cursor: pointer;
  color: rgb(31, 51, 71);
}

.dropdown__item:hover {
  background: #DCDCDC;
}

.caret-rotate {
  transform: rotate(180deg);
}

.dropdown-active {
  background: #D3D3D3;
}

.menu-open {
  display: block;
  opacity: 1;
}

.tabs {
  font-size: 20px;
  padding: 40px 0;
  width: 70%;
  margin: 0 auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.tabs__nav {
  display: flex;
  gap: 10px;
}

.tabs__link {
  color: rgb(31, 51, 71);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 45px;
  border-radius: 4px 4px 0px 0px;
  background-color: rgb(255, 255, 255);
  text-decoration: none;
}

.tabs__link--active {
  background-color: YellowGreen;
}

.tabs__body {
  padding: 39px 30px 36px;
  background-color: YellowGreen;
  box-shadow: 0px 6px 24px #E4E2EE;
}

.tabs__tab {
  display: none;
}

.tabs__tab--active {
  display: block;
}

.menu {
  background-color: #000f00;
  color: #fff;
  font-family: "Segoe UI", sans-serif;
}

.menu__list {
  display: flex;
}

.parallax {
  position: relative;
  height: 500px;
  overflow: hidden;
}

.parallax__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 24px;
}

.parallax:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("@img/gallery/show.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
  background-attachment: fixed;
}

.hero {
  background-color: #fff;
  z-index: 1;
  position: relative;
}

.hero__container {
  padding-top: 5%;
}

.hero__picture {
  position: relative;
  padding-bottom: 50%;
  width: 100%;
}

.hero__picture img {
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.video__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding-top: 5%;
  padding-bottom: 5%;
}

.video__body {
  position: relative;
  padding-bottom: 56%;
}

.video__block iframe {
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.video__movie {
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.video__text {
  font-size: 1.5625em;
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
}

.movie {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.movie__container {
  padding: 0;
}

.movie__body {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  gap: 35px;
}

.movie__title {
  letter-spacing: 10px;
  font-weight: 700;
  font-size: 3.125em;
  line-height: 0.6;
  color: #282d44;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.movie__text {
  letter-spacing: 5px;
  font-size: 1.5625em;
  line-height: 1.2;
  color: #282d44;
  font-family: Arial, Helvetica, sans-serif;
}

.movie__play {
  position: fixed;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media (min-width: 769px) {
  .burger {
    display: none;
  }
}