<div class="tabs">
  <nav class="tabs__nav">
    <a href="#tab-1" class="tabs__link">Tab 1</a>
    <a href="#tab-2" class="tabs__link">Tab 2</a>
    <a href="#tab-3" class="tabs__link">Tab 3</a>
    <a href="#tab-4" class="tabs__link">Tab 4</a>
  </nav>
  <div class="tabs__body">
    <p class="tabs__tab" id="tab-1">Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text
      Text Text Text Text Text Text Text Text Text Text Text Text Text Text</p>
    <p class="tabs__tab" id="tab-2">Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem
      Lorem Lorem Lorem Lorem Lorem Lorem
      Lorem Lorem Lorem</p>
    <p class="tabs__tab" id="tab-3">
      Ipsum Ipsum Ipsum Ipsum Ipsum Ipsum Ipsum Ipsum Ipsum Ipsum Ipsum Ipsum Ipsum Ipsum Ipsum Ipsum Ipsum
      Ipsum Ipsum Ipsum</p>
    <p class="tabs__tab" id="tab-4">Mono Mono Mono Mono Mono Mono Mono Mono Mono Mono
      Mono Mono Mono Mono Mono Mono Mono Mono Mono Mono Mono Mono Mono</p>
  </div>
</div>